<!DOCTYPE html>
<html>
<head>
    <title style="text-align: center; font-size: 120px; font-style: italic; font-weight: bolder">
        学生信息管理系统
    </title>
</head>
<h4>
    添加学生信息
</h4>
<div>
    <form action="alterStudent.html">
        <textarea name="学号" id="" cols="20" rows="1" placeholder="学号"> </textarea><br>
        <textarea name="姓名" id="" cols="20" rows="1" placeholder="姓名"> </textarea><br>
        <textarea name="班级" id="" cols="20" rows="1" placeholder="班级"> </textarea><br>
        <textarea name="年龄" id="" cols="20" rows="1" placeholder="年龄"> </textarea><br>
        <textarea name="性别" id="" cols="20" rows="1" placeholder="性别"> </textarea><br>
        <br>
        <input type="submit" value="添加学生信息">
    </form>
</div>

<h4>
    添加选课信息
</h4>
<div>
    <form action="alterSelection.html">
        <textarea name="学号" id="" cols="20" rows="1" placeholder="学号"></textarea><br>
        <textarea name="课程编号" id="" cols='20' rows='1' placeholder="课程编号"></textarea><br>
        <textarea name='选课年份' id='' cols='20' rows='1' placeholder="选课年份"></textarea><br>
        <textarea name='最终得分' id='' cols='20' rows='1' placeholder="最终成绩"></textarea><br>
        <br>
        <br>
        <input type="submit" value="添加学生选课信息">
    </form>
</div>

<h4>
    添加课程信息
</h4>
<div>
    <form action="alterCourse.html">
        <textarea name="课程编号" id="" cols="20" rows="1" placeholder="课程编号"></textarea><br>
        <textarea name="课程名称" id="" cols="20" rows="1" placeholder="课程名称"></textarea><br>
        <textarea name="学号" id="" cols="20" rows="1" placeholder="学号"></textarea><br>
        <textarea name="学分" id="" cols="20" rows="1" placeholder="学分"></textarea><br>
        <textarea name="推荐选课学期" id="" cols="20" rows="1" placeholder="推荐选课学期"></textarea><br>
        <textarea name="开课年份" id="" cols="20" rows="1" placeholder='开课年份'></textarea><br>
        <br>
        <input type="submit" value="添加课程信息">
    </form>
</div>
</html>