<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,
            minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <title>查找学生信息</title>
    </head>
    <form action="/getCourseSelectAndScore">
         查找学生基本信息-输入学号或姓名:<input type="str" list="url_list" name="link" />
                <datalist id="url_list">
	            <option value="1" />
	            <option value="2" />
	            <option value="3" />
               </datalist>
            <input type="submit" />
    </form>
    </body>
</html>