<!DOCTYPE html>
<html>
<head>
    <title>学生信息管理系统</title>

    <style>
        body {
            margin: 0;
        }

        header {
            width: 100%;
            height: 1840px;
            background: url("https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1557458538&di=485dd69b87f9d6f9873884116a8822ff&imgtype=jpg&er=1&src=http%3A%2F%2Fimage2.cnpp.cn%2Fupload%2Fimages%2F20180725%2F12175923516_1200x800.jpg");
            background-size: 100%;
        }
    </style>
</head>
<body>
<header>
    <img src="http://www.tju.edu.cn/images/logo_2016_2.png" alt="tile">
    <br><br><br><br><br><br><br><br>
    <!-- 8 br in all -->
    <h1 align="center"><strong style="font-size: 100px; color: cornsilk">欢迎使用天津大学学生管理系统</strong></h1>
    <br>
    <a href="rootMenu"><h2 align="center"><strong style="font-size: 110px; font-palette: light ">点击进入</strong>
    </h2></a>
</header>
</body>